%header
  %h1 Hitori Mahjong Simulator Results
%p
  %strong Hand: 
  ="#{@hand_string}"
%p
  %strong Calls: 
  ="#{@call_string}"
%p
  %strong Dora:
  ="#{@dora_string}"
%p
  %strong Yaku:
  ="#{@yaku_string}"